@import './styles/variables.css';
@import './styles/base.css';
@import './styles/layout.css';
@import './styles/ui.css';

@import 'lucide-static/font/lucide.css';
@import './fonts/tgico-icons.css';

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
}
